# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/

# Node
node_modules/
frontend/node_modules/

# Build artifacts
dist/
build/

# OS/editor
.DS_Store
.vscode/

# Local env files
.env
backend/.env
